body
{
	background-color: #EEEEEE;
}

canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 400px;
	height: 400px;
	border-style: solid;
	border-width: 5px;
	border-color: #000000;
	background-color: #FAFAFA;
}

table
{
	margin: center;
}

div.attributeList
{
	margin: auto;
	width: 60%;
	border-style: solid;
	border-width: 5px;
	background-color: #FAFAFA;
	border-color: #000000;
}

div.main
{
	margin: 0 auto;
}

h1.canvasHeader
{
	text-align: center;
	font-family: "Lobster", Sans-serif;
	font-size: 30px;
}

h2.attributeHeader
{
	text-align: center;
	font: italic bold 16px Georgia, serif;
}

p.attribute
{
	text-align: center;
	font: italic 12px Georgia, serif;
}

input.text
{
	font-family: monospace;
}

input.button
{
	font: bold 12px Georgia, serif;
}

input.centerButton
{ 
	margin: 0px -63px;
	position: relative;
	top: 50%;
	left: 50%;
}